@import url("https://fonts.googleapis.com/css?family=Bangers|Poppins|Roboto+Mono&display=swap");

#app {
  font-family: "Roboto Mono", sans-serif;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 1000px;
}
.title {
  margin-bottom: 20px;
}

#welcome {
  font-family: "Roboto Mono";
  text-align: center;
}
.specialButton {
  border-radius: 20%;
  background-color: rgb(57, 57, 113);
}
.specialButton:hover {
  background-color: lightcyan;
}

.specialButtonUp {
  border-radius: 20%;
  background-color: rgb(63, 228, 63);
}
.specialButtonDown {
  border-radius: 20%;
  background-color: rgb(235, 69, 57);
}
#body {
  background-color: #d3d0cb;
  border-radius: 10%;
  padding: 4%;
  border: rgb(42, 22, 60) solid 3px;
  color: rgb(42, 22, 60);
  font-family: "Poppins", sans-serif;
}
button {
  color: rgb(42, 22, 60);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2fr;
  margin: 1%;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: rgb(131, 176, 186);
  border: rgb(57, 57, 113) solid 5px;
}
input {
  font-family: "Poppins", sans-serif;
  width: 30%;
  padding: 15px;
  border: 2px solid rgb(42, 22, 60);
  border-radius: 4px;
}
.ulart {
  list-style-position: inside;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
  list-style: none;
}
.ul {
  list-style-type: none;
}

.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20%; */
  /* background-image: url("./images/IMG_8595.jpg");
  background-size: 100%; */
  background-color: rgb(143, 213, 241);
  border-bottom: solid rgb(42, 22, 60);
  color: rgb(42, 22, 60);
  font-family: "Roboto Mono", sans-serif;
  font-size: 36px;
  grid-area: 1 / 1 / 1 / 3;
  text-align: center;
}

nav {
  top: 0;
  font-size: 12px;
  color: rgb(110, 81, 8);
  font-family: "Poppins", sans-serif;
  grid-area: 2 / 1 / 3 / 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.relevantTopic {
  align-self: flex-end;
  margin-top: -30px;
  margin-right: 20px;
  width: 100px;
  height: 80px;
}
h1 {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  text-align: center;
}
h3 {
  margin-bottom: 0px;
  width: 80%;
  font-family: "Roboto Mono", monospace;
}
#login {
  position: absolute;
  top: 20px;
  right: 140px;
  font-size: 20px;
  align-self: center;
  /* grid-area: 4 / 5 / 4 / 5; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  color: rgb(42, 22, 60);
}
#router {
  color: rgb(42, 22, 60);
  grid-area: 2 / 2 / 2 / 3;
}
main {
  grid-area: 2 / 2 / 2/ 3;

  margin: 0.5fr;
  display: flex;
  flex-direction: column;
}
a:hover {
  color: rgb(114, 10, 59);
}
a {
  text-decoration-line: none;
  color: rgb(42, 22, 60);
}
time {
  font-size: 10px;
}

#li {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: rgb(42, 22, 60) solid 2px;
  padding: 1%;
  margin: 15px;
  width: 800px;
}
a {
  max-width: 800px;
}

#li :hover {
  transition: all 0.4s ease-in-out;
}
.cardVotes {
  font-size: 20px;
}
.sidePanel {
  font-size: 20px;
  background-color: whitesmoke;
  width: 450px;
  padding: 10px 10px 10px 20px;
  position: fixed;
  top: 425px;
  right: 80px;
  border: solid 2px rgb(42, 22, 60);
}
.email {
  border: none;
  background-color: whitesmoke;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  font-family: "Roboto mono", sans-serif;
}
.emailToggle {
  border: none;
  background-color: whitesmoke;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  font-family: "Roboto mono", sans-serif;
}

.email:hover {
  color: rgb(114, 10, 59);
}
.emailToggle:hover {
  color: rgb(114, 10, 59);
}
.sidenav {
  display: flex;
  flex-direction: row;
  background-color: #d3d0cb;
  margin: 20px;
}
.sorted {
  margin-left: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sidenav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav a:hover {
  background-color: rgb(114, 10, 59);
  color: black;
}

.sidenav a.active {
  background-color: rgb(42, 22, 60);
  color: white;
}
.sorting {
  margin: 20px;
  display: flex;
  background-color: #d3d0cb;
  /* flex-direction: column; */
}
p.cardVotes {
  margin-top: 0px;
}
.sort {
  opacity: 0.7;
  display: flex;
  align-items: center;
  border: none;
  background-color: #d3d0cb;
  font-size: 20px;
  justify-content: center;
  margin: 0px 10px 0px 10px;
}
.sortImg {
  margin: 5px;
  height: 30px;
  width: 30px;
}
.sortImg1 {
  margin: 5px;
  height: 30px;
  width: 28px;
}
.sort:hover {
  opacity: 1;
  background-color: rgb(114, 10, 59);
  color: rgb(255, 255, 255);
}
.sort:active {
  color: yellow !important;
}

#active {
  background-color: rgb(42, 22, 60);
  color: white;
  opacity: 1;
}
#down {
  background-color: darkblue;
}
span {
  margin: 5px;
}

article {
  padding: 4%;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 20%;
  width: 300px;
  height: 200px;
}
h4 {
  font-size: 22px;
  text-decoration: underline;
}

.dropbtn {
  font-family: "Poppins", sans-serif;
  background-color: rgb(42, 22, 60);
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  align-self: center;
  margin-right: 25px;
  /* grid-area: 5 /5 /5 /5; */
  /* position: absolute;
  top: 2px;
  right: 20px; */
}

.dropdown-content {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: none;
  position: absolute;
  right: 20px;
  background-color: #005574;
  min-width: 120px;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.loader {
  margin: 40px 40px 40px 80px;
  border: 16px solid rgb(131, 176, 186);
  border-radius: 50%;
  border-top: 16px solid rgb(57, 57, 113);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
#topicid {
  font-size: 20px;
  font-family: "Bangers", cursive;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#topicid :hover {
  transform: scale(1.1);
}
.topicpadding1 {
  margin-top: 0;
  width: 100px;
  max-width: 100px;
  padding: 20px;
}
.topicpadding2 {
  width: 300px;
  max-width: 300px;
  padding: 30px;
}

.inputBox {
  width: 120px;
}

input[type="text"] {
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

input[type="text"]:focus {
  width: 60%;
}
canvas {
  background: #023;
  display: block;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1132px) {
  div.sidePanel {
    padding: 5px;
    position: relative;
    top: 20px;
    left: 20px;
    margin: 10px;
  }
  .email {
    margin: 1px;
  }
  p {
    margin: 1px;
  }
  div.sorting {
    margin: 0px;
  }
}

@media screen and (max-width: 800px) {
  #app {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 22px;
  }

  .ulart {
    columns: 1;
  }
  #li {
    margin-left: 40px;
    width: 600px;
  }
  /* main {
    display: flex;
  } */
  #topicid {
    flex-direction: column;
  }
  .topicpadding1 {
    padding: 0px;
  }
  .topicpadding2 {
    padding: 0px;
  }
}
@media screen and (max-width: 540px) {
  p.sorted {
    font-size: 12px;
  }
  .sort {
    opacity: 0.7;
    display: flex;
    align-items: center;
    border: none;
    background-color: #d3d0cb;
    font-size: 10px;
    justify-content: center;
    margin: 0px 2px 0px 2px;
  }
  .ulart {
    align-self: center;
  }
  .sortImg {
    margin: 2px;
    height: 20px;
    width: 20px;
  }
  .sortImg1 {
    margin: 2px;
    height: 20px;
    width: 19px;
  }
  div.sorting {
    min-width: 270px;
  }
  .headers {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
  }
  h1 {
    font-size: 38px;
  }
  img {
    border-radius: 20%;
    width: 260px;
    height: 200px;
  }
  #li {
    margin: 2px;
    width: 305px;
  }
  .relevantTopic {
    width: 40px;
    height: 32px;
  }
  .sidePanel {
    width: 250px;
  }
  h3 {
    margin-bottom: 10px;
  }
  ul.ulart {
    padding-left: 1px;
  }
  #newspaper {
    position: absolute;
    top: 2px;
    right: 20px;
  }
  #login {
    position: absolute;
    top: 100px;
    right: 10px;
  }
  .dropdown {
    margin: 0px 0px 5px 5px;
    grid-area: 4/1/4/1;
  }
  ul {
    padding-left: 5px;
  }
}
@media screen and (max-width: 350px) {
  ul.ulart {
    margin-left: 10px;
  }
  .email {
    font-size: 10px;
  }
}
