@import url("https://fonts.googleapis.com/css?family=Bangers|Poppins|Roboto+Mono&display=swap");

#app {
  font-family: "Roboto Mono", sans-serif;
  background-color: #98babd;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 14fr;
}

#welcome {
  font-family: "Roboto Mono";
  text-align: center;
}
.specialButton {
  border-radius: 50%;
  background-color: rgb(57, 57, 113);
}
.specialButton:hover {
  background-color: lightcyan;
}

.specialButtonUp {
  border-radius: 50%;
  background-color: rgb(105, 174, 105);
}
.specialButtonDown {
  border-radius: 50%;
  background-color: rgb(194, 95, 88);
}
#body {
  background-color: rgb(151, 177, 182);
  border-radius: 10%;
  padding: 4%;
  border: rgb(42, 22, 60) solid 3px;
  color: rgb(42, 22, 60);
  font-family: "Poppins", sans-serif;
}
button {
  color: rgb(42, 22, 60);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2fr;
  margin: 1%;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: rgb(131, 176, 186);
  border: rgb(57, 57, 113) solid 5px;
}
input {
  font-family: "Poppins", sans-serif;
  width: 30%;
  padding: 15px;
  border: 2px solid rgb(42, 22, 60);
  border-radius: 4px;
}
.ulart {
  list-style-position: inside;
  padding: 10px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
}
.ul {
  list-style-type: none;
}

.headers {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20%;
  background-image: url("./images/IMG_8595.jpg");
  background-size: 100%;
  border-bottom: solid rgb(42, 22, 60);
  color: rgb(42, 22, 60);
  font-family: "Roboto Mono", sans-serif;
  font-size: 36px;
  grid-area: 1 / 1 / 1 / 3;
  text-align: center;
}

nav {
  border-right: solid rgb(42, 22, 60) 2px;
  top: 0;
  font-size: 12px;
  color: rgb(110, 81, 8);
  font-family: "Poppins", sans-serif;
  grid-area: 2 / 1 / 3 / 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

h2 {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  text-align: center;
}
h3 {
  font-family: "Roboto Mono", monospace;
}
#login {
  font-size: 20px;
  grid-area: 4 / 5 / 4 / 5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  color: rgb(42, 22, 60);
}
#router {
  color: rgb(42, 22, 60);
  grid-area: 2 / 2 / 2 / 3;
}
main {
  grid-area: 2 / 2 / 2/ 3;
  margin: 0.5fr;
}
a:hover {
  color: rgb(114, 10, 59);
}
a {
  text-decoration-line: none;
  color: rgb(42, 22, 60);
}
time {
  font-size: 10px;
}

#li {
  border-radius: 25px;
  border-top: rgb(42, 22, 60) solid 2px;
  padding: 1%;
}
#li :hover {
  transition: all 0.4s ease-in-out;
}

.sidenav {
  background-color: #a2a3a3;
  overflow: hidden;
}
.sorted {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sidenav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav a:hover {
  background-color: rgb(114, 10, 59);
  color: black;
}

.sidenav a.active {
  background-color: #d3d0cb;
  color: black;
}

article {
  padding: 4%;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 20%;
  width: 300px;
  height: 200px;
}
h4 {
  font-size: 22px;
  text-decoration: underline;
}

.dropbtn {
  font-family: "Poppins", sans-serif;
  background-color: rgb(42, 22, 60);
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  grid-area: 5 /5 /5 /5;
  display: inline-block;
}

.dropdown-content {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: none;
  position: absolute;
  background-color: #005574;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.loader {
  border: 16px solid rgb(131, 176, 186);
  border-radius: 50%;
  border-top: 16px solid rgb(57, 57, 113);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
#topicid {
  font-size: 20px;
  font-family: "Bangers", cursive;
  padding: 2%;
  display: flex;
  justify-content: flex-start;
}
#topicid :hover {
  transform: scale(1.1);
}
.topicpadding1 {
  padding: 20px;
}
.topicpadding2 {
  padding: 30px;
}

canvas {
  background: #023;
  display: block;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  #app {
    display: flex;
    flex-direction: column;
  }
  .ulart {
    columns: 1;
  }
  /* main {
    display: flex;
  } */
  #topicid {
    flex-direction: column;
  }
  .topicpadding1 {
    padding: 0px;
  }
  .topicpadding2 {
    padding: 0px;
  }
}
@media screen and (max-width: 540px) {
  .headers {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
  }
  h1 {
    font-size: 28px;
  }
  img {
    border-radius: 20%;
    width: 260px;
    height: 200px;
  }
  .dropdown {
    grid-area: 4/1/4/1;
  }
}
